<div id="channelList">
	{{#each controller}}
		<div class="row channel">
			<div class="channel_logo col-md-1 afix">
				<img {{bindAttr src="img.icons.w110"}}>
			</div>
			<div class="broadcasts col-md-11">
				<ul style="width:10000px">
				{{#each broadcasts}}
					<li>
						<div class="broadcast">
							<div class="preview">
								{{!-- <img {{bindAttr src="images.backdrops.w154"}}> --}}
								<img src="http://epg.gettuned.in/backdrops/154/faf88c7b6ec69540252ad218c5fe5a81.jpg">
							</div>
							<div class="broadcast_info">
								<span class="title">{{program.title}}</span>
								<span class="subtitle">subtitle</span>
								<div class="rating">rating</div>
								<div class="date">date</div>
							</div>
						</div>
					</li>
				{{/each}}	
				<ul>
			</div>
		</div>
	{{/each}}
</div>